#card-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}

#card-container a{
	color: rgba(250,250,250,0.6);
	text-decoration: none;
	font-size: 20px;

}

#card-container a:hover {
	color: white;
	text-decoration: none;
	font-size: 20px;
	
}

.card {
	width: 33.3333%;
	height: 300px;
	margin: 0px 0px;
	border: solid white;
}

.card h2 {
	text-align: center;
	padding-top: 40px;

}

#card-five {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%), url(../../images/five.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

#card-five:hover {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url(../../images/five.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

#card-fifteen {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%), url(../../images/fifteen.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

#card-fifteen:hover {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url(../../images/fifteen.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

#card-twenty {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%), url(../../images/twenty.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

#card-twenty:hover {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url(../../images/twenty.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}


@media (max-width: 800px){
	#card-container {
		display: inline;
		text-align: center;
	}
	.card {
		margin-right: 0px;
		width: 100%;
	}
}
